* {
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 600px) {
  #hamburgerMenu {
    width: 60%;
    height: 100vh;
    background-color: white;
    position: fixed;
    top: 0;
    right: -500px;
    z-index: 3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 20% 0 0 50%;
    -webkit-transition: right 350ms;
    transition: right 350ms;
    -webkit-box-shadow: -5px 5px 15px black;
            box-shadow: -5px 5px 15px black;
  }
  #hamburgerMenu #menuButton {
    width: 10vw;
    height: 10vw;
    position: fixed;
    top: 15px;
    right: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-transition: right 350ms;
    transition: right 350ms;
  }
  #hamburgerMenu #menuButton .menuBars {
    width: 100%;
    height: 2px;
    background-color: black;
    -webkit-transition: -webkit-transform 350ms;
    transition: -webkit-transform 350ms;
    transition: transform 350ms;
    transition: transform 350ms, -webkit-transform 350ms;
  }
  #hamburgerMenu #menuButton .bar2 {
    width: 75%;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
  }
  #hamburgerMenu #menuButton .bar3 {
    width: 50%;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
  }
  #hamburgerMenu #menuList {
    width: 65%;
    height: 60vh;
    margin-bottom: 30%;
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  #hamburgerMenu #menuList .item {
    width: 100%;
    font-family: raleway;
    border-radius: 20px;
    background: #ffffff;
    -webkit-box-shadow: 6px 6px 12px #c4c4c4, -6px -6px 12px #ffffff;
            box-shadow: 6px 6px 12px #c4c4c4, -6px -6px 12px #ffffff;
    text-align: center;
  }
  #hamburgerMenu #menuList .item:active, #hamburgerMenu #menuList .item:focus, #hamburgerMenu #menuList .item.active {
    background: #ffffff;
    -webkit-box-shadow: inset 6px 6px 12px #c4c4c4, inset -6px -6px 12px #ffffff;
            box-shadow: inset 6px 6px 12px #c4c4c4, inset -6px -6px 12px #ffffff;
  }
  #hamburgerMenu #menuList .nav-link {
    display: inline-block;
    width: 100%;
    text-decoration: none;
    color: black;
    padding: 1.3rem 0;
    border-radius: 20px;
  }
  #hamburgerMenu.active {
    right: 0;
  }
  #hamburgerMenu.active #menuButton {
    right: 40%;
  }
  #hamburgerMenu.active #menuButton .bar1 {
    -webkit-transform: rotateZ(-45deg) translate(-25%, 8px);
            transform: rotateZ(-45deg) translate(-25%, 8px);
  }
  #hamburgerMenu.active #menuButton .bar2 {
    opacity: 0;
  }
  #hamburgerMenu.active #menuButton .bar3 {
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
    width: 10vw;
    -webkit-transform: rotateZ(45deg) translate(-25%, -8px);
            transform: rotateZ(45deg) translate(-25%, -8px);
  }
}

#content {
  -webkit-animation: transitionIn 750ms;
          animation: transitionIn 750ms;
  width: 100vw;
  height: auto;
  font-family: raleway;
}

#content .intro {
  width: 90%;
  margin: 6% auto 5% auto;
}

#content .intro h1 {
  margin-bottom: 3%;
}

#content .intro p {
  padding-left: 2%;
}

#content .workContainer {
  width: 100vw;
  height: 70vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 10fr 1fr;
      grid-template-columns: 1fr 10fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  row-gap: 6%;
  margin-bottom: 10%;
  -webkit-transition: 350ms;
  transition: 350ms;
}

#content .workContainer.active {
  height: 90vh;
}

#content .work {
  width: 100%;
  -ms-grid-column: 2;
  grid-column: 2;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  -webkit-box-shadow: 0px 0px 4px;
          box-shadow: 0px 0px 4px;
  -webkit-transition: 350ms;
  transition: 350ms;
}

#content .work.active {
  height: 45vh;
}

#content .work.active .title {
  top: 5%;
  left: 5%;
}

#content .work.active .subTitle {
  top: 20%;
  left: 7%;
}

#content .work.active .workDescription {
  opacity: 0.8;
}

#content .work img {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 20px;
  top: 0;
  left: 0;
  opacity: 0.3;
  -webkit-transition: 350ms;
  transition: 350ms;
}

#content .work .title {
  font-size: 2rem;
  position: absolute;
  top: 20%;
  left: 6%;
  -webkit-transition: 350ms;
  transition: 350ms;
}

#content .work .subTitle {
  font-size: 1.5rem;
  position: absolute;
  top: 45%;
  left: 8%;
  -webkit-transition: 350ms;
  transition: 350ms;
}

#content .work .workDescription {
  opacity: 0;
  padding: 4%;
  text-align: left;
  position: absolute;
  height: 23vh;
  bottom: 0;
  background-color: white;
  border-radius: 20px;
  -webkit-transition: 350ms;
  transition: 350ms;
}

@-webkit-keyframes transitionIn {
  from {
    opacity: 0;
    -webkit-transform: rotateX(-10deg);
            transform: rotateX(-10deg);
  }
  to {
    opacity: 1;
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
}

@keyframes transitionIn {
  from {
    opacity: 0;
    -webkit-transform: rotateX(-10deg);
            transform: rotateX(-10deg);
  }
  to {
    opacity: 1;
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
}
/*# sourceMappingURL=styleWork_min.css.map */