@import './variables';

$transitionLength: 350ms;

@media screen and (max-width: 600px) {
    #hamburgerMenu {
        width: 60%;
        height: 100vh;
        background-color: white;
        position: fixed;
        top: 0;
        right: -500px;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20% 0 0 60%;
        transition: right $transitionLength;
        box-shadow: -5px 5px 15px black;
        #menuButton {
            width: 10vw;
            height: 10vw;
            position: fixed;
            top: 15px;
            right: 25px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            transition: right $transitionLength;
            .menuBars {
                width: 100%;
                height: 2px;
                background-color: black;
                transition: transform $transitionLength;
            }
        }
        #menuList {
            width: 65%;
            height: 60vh;
            margin-bottom: 30%;
            list-style-type: none;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            .item {
                width: 100%;
                font-family: $font;
                border-radius: 20px;
                background: #ffffff;
                box-shadow: 6px 6px 12px #c4c4c4, -6px -6px 12px #ffffff;
                text-align: center;
                &:active,
                &.active {
                    background: #ffffff;
                    box-shadow: inset 6px 6px 12px #c4c4c4, inset -6px -6px 12px #ffffff;
                }
            }
            .nav-link {
                display: inline-block;
                width: 100%;
                text-decoration: none;
                color: black;
                padding: 1.3rem 0;
                border-radius: 20px;
            }
        }

        &.active {
            right: 0;
            #menuButton {
                right: 40%;
            }
            .bar1 {
                transform: rotateZ(-45deg) translate(-25%, 8px);
            }
            .bar2 {
                opacity: 0;
            }
            .bar3 {
                transform: rotateZ(-135deg) translate(25%, 8px);
            }
        }
    }
}
