@import '../functions';

* {
    padding: 0;
    margin: 0;
}

body,
html {
    background-image: linear-gradient(135deg, #c3beb4, #ffffff);
    // background-image: linear-gradient(135deg, #b3bac2, #ffffff);
    // background-image: linear-gradient(135deg, #a8d1ff, #fefefe);

    max-width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}
html {
    background-color: #c3beb4;
}

@import '../menu';

#content {
    animation: transitionIn 750ms;
    width: 100vw;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    @import './profile';
    @import './projects';
}

@import './footer';
// transition for page change
